# Exclude unnecessary files from Docker build context

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/

# Git metadata
.git

# Local environment variables
.env

# Logs and temp files
*.log
*.sqlite3
*.db 